/** Color naranja ----> #f86449 */

.animate-download { animation: download 1s infinite; }

@keyframes download {
    0%, 100% { transform: translateY(-10%); }
    50% { transform: translateY(10%); }
}

/** ---------------------------------------------------------------------------------------------------- */

.animation-title span {
    display: inline-block;
    animation: salto 4s infinite;
}

.animation-title span:nth-child(2) { animation-delay: 0.2s; }
.animation-title span:nth-child(3) { animation-delay: 0.4s; }
.animation-title span:nth-child(4) { animation-delay: 0.6s; }
.animation-title span:nth-child(5) { animation-delay: 0.8s; }
.animation-title span:nth-child(6) { animation-delay: 1.0s; }


@keyframes salto {
    0%, 100% { transform: translateY(0%); }
    3% { transform: translateY(5%); }
    6% { transform: translateY(-10%); }
    9% { transform: translateY(5%); }
    12% { transform: translateY(0%); }
}