.projects-header {
    padding: 40px 0;
    color: #f86449;
}

.projects-header h1 {
    font-weight: 500;
}

.projects-header svg {
    width: 11vw;
    height: 11vw;
}

.ul-projects {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    list-style:none;
    padding: 0;
}

.title-project {
    font-weight: 600;
    user-select: none;
}

.item-code-project {
    display: flex;
    align-items: center;
    gap: 6px;
    /* cursor: default; */
    user-select: none;

    /* color: #b94a36; */
    font-size: small;
    font-weight: 600;

    padding: 6px 12px;
    border: 2px solid #f86449;
    border-radius: 16px;
}

.item-code-project img {
    width: 16px;
    height: 16px;
    border-radius: 2px;
}

.description-project {
    font-size: large;
    user-select: none;
}

.link-project {
    text-decoration: none;
    font-size: large;
    color: #000;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    padding: 6px 12px;
    border: 2px solid #000;
    border-radius: 10px;

    transition:
        border .1s linear, 
        color .1s linear, 
        scale .1s linear
    ;
}

.link-project:hover {
    color: #f86449;
    border: 2px solid #f86449;
    scale: 1.03;
}

.link-project svg {
    width: 24px;
    height: 24px;
    border-radius: 2px;
}

/** < sm */
@media (width < 576px) {
    .projects-header {
        padding: 24px 0;
    }
}

/** sm */
@media (width >= 576px) {
    .projects-header svg {
        width: 72px;
        height: 72px;
    }
}

/** md */
@media (width >= 768px) {
    .projects-header svg {
        width: 96px;
        height: 96px;
    }
}

/** lg */
@media (width >= 992px) {

}

@media (width >= 1400px) {
    .description-project {
        font-size: 21px;
        line-height: 1.7;
    }
}