/** Color naranja ----> #f86449 */

body {
    font-family: "Outfit", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    background:
        /* Izquierda arriba */
        radial-gradient(
            circle at 15% -5%,
            #00f3,
            #00f0 50%
        ),
        /* Derecha arriba */
        radial-gradient(
            circle at 125% 30%,
            #f003,
            #f000 50%
        ),
        /* Izquierda abajo */
        radial-gradient(
            circle at -15% 80%,
            #f003,
            #f000 50%
        ),
        /* Derecha abajo */
        radial-gradient(
            circle at 85% 155%, 
            #00f3, 
            #00f0 50%
        ),
        #fff;
}

::-webkit-scrollbar {
    width: 12px; /* Ancho del scrollbar */
}

/* Cambiar el color del track (fondo) del scrollbar */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Cambiar el color del thumb (barra deslizante) del scrollbar */
::-webkit-scrollbar-thumb {
    background: #f86449;
}

/* Estilos adicionales para el thumb cuando se desplaza */
::-webkit-scrollbar-thumb:hover {
    background: #ff8866;
}




ul {
    list-style:none;
    padding: 0;
}

.custom-font-color-primary {
    color: #f86449;
}

.custom-font-size-navbar {
    font-size: 1.16rem;
}

.custom-navbar-toggler {
    font-size: 1.16rem;
}

.main-messagge{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 6vw;
}

.main-title {
    margin: 0;
    font-weight: 600;
    /* background-color: lightblue; */
    font-size: 20vw;
    text-align: center;
}

.main-paragraph {
    /* background-color: lightgreen; */
    margin: 0;
    text-align: center;
    font-size: 5vw;
    width: 85%;
}

.personal-info {
    border-radius: 12px;
}

.personal-info {
    background-color: #f86449;
    padding: 6vw;
    display: flex;
    flex-direction: column;
    gap: 6vw;
    color: #fff;
    font-weight: 500;
    font-size: 4vw;
}

.personal-info > div {
    display: flex;
    flex-direction: column;
    gap: 1.7vw;
}

.label-date {
    font-weight: 200;
    letter-spacing: 1.3vw;
}

.date {
    letter-spacing: 0.3vw;
}

.date > a {
    color: currentColor;
    text-decoration: none;
    transition: transform 0.3s;
}

.date > a:hover {
    transform: scale(1.2);
}

.svg-size {
    width: 6.7vw;
    height: 6.7vw;
}

.social-icon {
    display: flex;
    gap: 6vw;
}

.profile-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 48px;
}

.profile-pic {
    border-radius: 16px;
    border: 2px solid #ddd;
    background-color: #fff;
    min-height: 400px;
}

.button-cv {
    border: none;
    background-color: #f86449;
    color: #fff;
    border-radius: 8px;
    /* min-height: 48px; */
    padding: 4vw;
    font-size: 4vw;
}

.custom-navbar {
    min-height: 80px;
}

.outfit-font {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.habilidades {
    background-color: #fff;
    border-radius: 12px;
    border: 2px solid #ddd;
}

@media (width <= 576px) {
    .custom-margin {
        margin: 0 5vw;
    }

    .custom-size {
        height: 20vw;
        width: 20vw;
    }

    .label-svg {
        font-size: 4vw;
    }
}



/** sm */
@media (width >= 576px) {
    .custom-font-size-navbar {
        font-size: var(--bs-navbar-brand-font-size);
    }
    
    .custom-navbar-toggler {
        font-size: var(--bs-navbar-toggler-font-size);
    }

    .main-messagge{
        gap: 28px;
    }

    .main-title {
        font-size: 128px;
    }
    
    .main-paragraph {
        font-size: 28px;
        width: 450px;
    }

    .personal-info {
        padding: 32px;
        gap: 32px;
        font-size: large;
    }
    
    .personal-info > div {
        gap: 8px;
    }
    
    .label-date {
        letter-spacing: 4.4px;
    }
    
    .date {
        letter-spacing: 2px;
    }
    
    .social-icon {
        gap: 24px;
    }

    .svg-size {
        width: 32px;
        height: 32px;
    }

    .button-cv {
        font-size: larger;
        padding: 16px;
    }
}

/** md */
@media (width >= 768px) {
    .main-messagge{
        gap: 32px;
    }

    .main-title {
        font-size: 142px;
    }
    
    .main-paragraph {
        font-size: 32px;
        width: 540px;
    }
}

/** lg */
@media (width >= 992px) {
    
}
