body {
    height: 100vh;
}

.contenedor-principal {
    background-color: red;
    box-sizing: border-box;
    display: block;
    position: relative;
    height: 60vh;
}

.div-img-portada {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#img-portada {
    width: 80vw;
    height: 100%;
}

.div-perfil {
    display: inline-block;
    position: absolute;
    width: 25vw;

}

#img-perfil {
    border-radius: 50%;
    width: 100%;
    box-shadow: 0px 0px 60px 10px black
}

#prueba {
    background-color: red;
    width: 100px;
    height: 100px;
}